:root {
    background-color: rgb(229, 248, 243);
}
* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

.title {
    position: absolute;
    font-family: 'Akzidenz-Grotesk BQ Extra Conde';
    top: 60%;
    left: 2%;
    /* background-color: rgb(99, 99, 178); */
    padding: 0%;
    margin: 0;
}

#Motorsport {
    font-size: 160px;
    font-weight: bold;
    margin: 0;
}

#sub {
    padding: 20px;
    margin: 0;
}

#trackMapNav {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    left: 67%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: brown; */
}

.trackMapContainer {
    width: 75%;
    height: auto;
    /* background-color: rgb(182, 138, 72); */
}

.trackMap {
    display: block;
    width: 100%;
    height: auto;
    z-index: -1;
    /* background-color: rgb(213, 193, 163); */
}

.series {
    font-family: 'Century Gothic';
    font-weight: bold;
    background-color: bisque;
    position: absolute;
}

.name {
    font-size: medium;
}

#series1 {
    top: 6%;
    left: -4%;
}

#series2 {
    top: 2%;
    left: 29%;
}

#series3 {
    top: 8%;
    right: 47%;
}

#series4 {
    top: 20%;
    right: 32%;
}

#series5 {
    bottom: 21%;
    right: 33%;
}

#series6 {
    bottom: 6%;
    right: 47.5%;
}

#series7 {
    bottom: 28%;
    right: 57%;
}

#series8 {
    top: 43%;
    left: 25%;
}

#series9 {
    top: 20%;
    left: 10%;
}