:root {
    background-color: lightcyan;
}

* {
    box-sizing: border-box;
}

.home {
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 20;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

main {
    animation-name: skewImage, whiteFade;
    animation-duration: 50s, 5s;
    animation-iteration-count: infinite, 1;
    animation-timing-function: ease-in-out, ease-in-out;
    /* animation-direction: normal, normal; */
    animation-delay: 2s, 0s;
    /* animation: skewImage 40s infinite ease-in-out */
}

@keyframes whiteFade {
    0% {
        opacity: 0%;
        /* border-radius: 20vh; */
    }
    100% {
        opacity: 100%;
        /* border-radius: 0; */
    }
}


@keyframes skewImage {
    0%, 100% {
        transform: skewX(0) translate(0vw, 0vh)
        scale(100%);
    }
    25% {
        transform: skewX(8deg) translate(-100vw, -100vh) scale(88%);
    }
    50% {
        transform: skewX(0) translate(0vw, 0vh) scale(90%);
    }
    75% {
        transform: skewX(-8deg) translate(-100vw, -100vh)
        scale(100%);
    }
}

/* vertical traffic */

.trafficV {
    background-color: rgb(255, 238, 0);
    width: 300vw;
    height: 200vh;
    display: flex;
    justify-content: space-evenly;
    /* animation: trafficV 20s infinite ease-in-out alternate */
}

/* @keyframes trafficV{
    0% {
        transform: translate(0vw, 0vh);
    }
    
    100% {
        transform: translate(-90vw, -90vh);
    }
} */

/* each piece of road */

.lane {
    width: 10vh;
    height: 200vh;
    background-color: rgb(255, 255, 255);
    /* z-index: 10; */
    /* animation: trafficUp1 8s infinite alternate ease-in-out -500ms; */
    top: -8vw;
    display: flex;
    justify-content:flex-start;
    /* flex-direction: column; */
    /* position: absolute; */
}

/* @keyframes trafficUp1 {
    0% {
        transform: translateY(-20vh);
    }    
    50% {
        transform: translateY(45vh);
    }
    100% {
        transform: translateY(110vh);
    }
}

@keyframes trafficUp2 {
    0% {
        transform: translateY(-20vh);
    }    
    50% {
        transform: translateY(45vh);
    }
    100% {
        transform: translateY(110vh);
    }
} */


/* car left lane */
.carInside {
    width: 5vh;
    height: 200vh;
    /* background-color: brown; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    animation: carSpace1 5.5s infinite alternate ease-in-out;
}

/* car right lane */
.right {
    /* background-color: rgb(239, 104, 104); */
    animation: carSpace2 4s infinite alternate ease-in-out;
}

@keyframes carSpace1 {
    0% {
        transform: translateY(-103vh);
    }    
    50% {
        transform: translateY(20vh);
    }
    100% {
        transform: translateY(103vh);
    }
}

@keyframes carSpace2 {
    0% {
        transform: translateY(103vh);
    }    
    50% {
        transform: translateY(60vh);
    }
    100% {
        transform: translateY(-103vh);
    }
}

/* white line stuff */
.whiteLineLane {
    width: 1.5vh;
    height: 300vh;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* animation: whiteLines 10s infinite alternate linear; */
}

.whiteLines {
    width: 1.5vh;
    height: 10vh;
    background-color: rgb(255, 238, 0);
}

@keyframes whiteLines {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0vh);
    }
}

/* cars in lane */
.carInsideInside {
    width: 100%;
    height: 10%;
    background-color: rgb(0, 0, 0);
    animation: changeColorH infinite 10s alternate-reverse;
}

/* horizontal */

.trafficH {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgb(65, 130, 107); */
    width: 300vw;
    height: 200vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* animation: trafficV 20s infinite ease-in-out alternate */
}

/* @keyframes trafficH{
    0% {
        transform: translate(-20vw, -100vh);
    }
    
    100% {
        transform: translate(20vw, 0vh);
    }
} */

/* horizontal lanes */

.laneH {
    width: 500vh;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    /* z-index: 10; */
    /* animation: trafficUp1 8s infinite alternate ease-in-out -500ms; */
    top: -8vw;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}

/* horizontal white lines */

.whiteLineLaneH {
    width: 400vh;
    height: 1.5vh;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* animation: whiteLinesH 10s infinite alternate linear; */
}

.whiteLinesH {
    width: 10vh;
    height: 1.5vh;
    background-color: rgb(255, 238, 0);
}

@keyframes whiteLinesH {
    0% {
        transform: translateX(-100vh);
    }
    100% {
        transform: translateX(0vh);
    }
}

/* horizontal car lanes */

.carInsideH {
    width: 200vh;
    height: 5vh;
    /* background-color: brown; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    animation: carSpace1H 5.5s infinite alternate ease-in-out;
}

.rightH {
    /* background-color: rgb(239, 104, 104); */
    animation: carSpace2H 4s infinite alternate ease-in-out;
}

@keyframes carSpace1H {
    0% {
        transform: translateX(-103vh);
    }    
    50% {
        transform: translateX(20vh);
    }
    100% {
        transform: translateX(103vh);
    }
}

@keyframes carSpace2H {
    0% {
        transform: translateX(103vh);
    }    
    50% {
        transform: translateX(60vh);
    }
    100% {
        transform: translateX(-103vh);
    }
}

.carInsideInsideH {
    width: 10%;
    height: 100%;
    background-color: rgb(118, 161, 183);
    animation: changeColorH infinite 10s 5s alternate;
}

@keyframes changeColorH {
    0% {
        background-color: rgb(118, 161, 183);
    }
    33% {
        background-color: rgb(255, 238, 0);
    }
    66% {
        background-color:rgb(0, 0, 0)
    }
    100% {
        background-color: rgb(212, 255, 42);
    }
}

.guyInBlockH {
    width: 10vh;
    height: 10vh;
    background-color: black;
}